@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sail&display=swap');


:root {
	color-scheme: light only;

	--white-color: #FFFFFF;
	--grey-color: #e9e2e2;
	--gold-color: #A29061;
	--pink-color: #D40050;
	--purple-color: #622181;
	--green-color: #38A962;
	--orange-color: #F29400;
	--softpink-color: #D16279;
	--softblue-color: #A7B5DC;
}

/* === base === */

* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

html,
body {
	background: #fff;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h1:first-child {
	margin-block-start: 0;
}

a {
	color: #A29061;
}

p,
ul {
	line-height: 1.5;
}

p:last-child,
ul:last-child,
blockquote:last-child {
	margin-block-end: 0;
}

img,
video {
	max-width: 100%;
	height: auto;
}

img {
	border-radius: .6rem;
}

.alignright {
	float: right;
	width: 40%;
	margin: 0 0 1rem 1rem;
}

.alignleft {
	float: left;
	width: 30%;
	margin: 0 1rem 1rem 0;
}

form ul {
	padding: 0;
}

form li {
	list-style: none;
	margin: 0 0 .5rem 0;
	display: flex;
    align-items: center;
}

form input {
	padding: .25rem .5rem;
	width: 60%;
}

form label {
	min-width: 7rem;
}

button {
	background-color: var(--gold-color);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	padding: .5rem 1rem;
	font-size: 1.25rem;
}

/* === header === */

header {
	background-image: url(../img/edge.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	padding: 50px 0 70px 0;
	text-align: center;
}

header .logo {
	height: auto;
	max-width: 100%;
	padding: 0 3rem;
	width: 500px;
}

header ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

header ul li {
	color: var(--gold-color);
	cursor: pointer;
	float: left;
	font-family: 'Merriweather', serif;
	padding: .8rem 0;
}

header ul li:first-child {
	display: none;
}

header ul li a {
	text-decoration: none;
}

.contactdetails {
	border: 7px dotted var(--gold-color);
	border-radius: 50%;
	border-style: dotted;
	display: grid;
	height: 300px;
	justify-items: center;
	padding: 30px;
	width: 300px;
}

.contactdetails p {
	margin: 0 0 .5rem 0;
}

.contactdetails a {
	color: #000;
	text-decoration: none;
}

header .contactdetails {
	position: absolute;
	right: 50px;
	top: 50px;
	transform: scale(0.8) rotate(15deg);
}

header #canvas-holder {
	overflow: hidden;
}

/* === article === */

article {
	background-color: var(--grey-color);
	padding: 1rem;
}

article li::marker {
	color: var(--gold-color);
}

blockquote {
	font-family: 'Sail', serif;
	font-size: 2rem;
	font-style: italic;
	align-items: center;
	display: flex;
	margin: 0;
}

blockquote img {
	border-radius: 50%;
	float: left;
	height: 8rem;
	margin-right: 25px;
	width: 8rem;
}

article .page {
	margin: 0px auto;
	max-width: 800px;
	transition: all 0.5s;
}

.handtekening {
	clear: both;
	display: block;
	font-family: 'La Belle Aurore', cursive;
	font-size: 2.5em;
	text-align: left;
	width: 100%;
}

.wat-levert-de-training-jou-op {
	background-color: #fff;
	padding: 2rem;
	border-radius: .6rem;
}

.wat-levert-de-training-jou-op h2 {
	margin-block-start: 0;
}

.wat-leer-je {
	overflow: hidden;
}

.formulier {
	overflow: hidden;	
}

/* === footer === */

footer {
	background-image: url(../img/edge-flip.png);
	background-position: top center;
	background-repeat: repeat-x;
	display: flex;
	justify-content: center;
	padding: 120px 0 70px 0;
}


.home:hover a,
.home h1,
a.home {
	color: #000;
}

.krachtvankleuren:hover a,
.krachtvankleuren h1,
a.krachtvankleuren {
	color: var(--pink-color);
}

.etherischeolien:hover a,
.etherischeolien h1,
a.etherischeolien {
	color: var(--purple-color);
}

.emotionelebalans:hover a,
.emotionelebalans h1,
a.emotionelebalans {
	color: var(--green-color);
}

.persoonlijkecoaching:hover a,
.persoonlijkecoaching h1,
a.persoonlijkecoaching {
	color: var(--softpink-color);
}

.gelukslesvoorbedrijven:hover a,
.gelukslesvoorbedrijven h1,
a.gelukslesvoorbedrijven {
	color: var(--softblue-color);
}

.trainingvoorouders:hover a,
.trainingvoorouders h1,
a.trainingvoorouders {
	color: var(--orange-color);
}

@media only screen and (max-width: 1160px) {

	header ul {
		flex-direction: column;
	}

	header ul li:first-child {
		display: block;
	}

	header .contactdetails {
		display: none;
	}

	header ul li.menunode {
		display: none;
	}

	button {
		margin: 0 auto;
		display: block;
	}

	.formulier .alignright {
		width: 100%;
		float: none;
		margin: 0;
	}

}

@media only screen and (min-width: 1160px) {
	header ul>li::after {
		content: ' /\00a0';
	}

	header ul>li:last-child:after {
		content: '';
	}
}